/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
}

.tickets_container{
    width:100%;
    height:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.tickets_list{
    max-width:920px;
    width:100%;
    border:1px solid #cecece;
    border-radius:10px;
}

.titles{
    text-align:left;
    padding: 25px 15px;
	font-size: 30px;
    font-weight: 900;
	border-bottom: 1px solid #cecece;
	margin: 0 50px 30px;
}
.tickets_container_card{
    margin: 0 50px 30px;
    text-align: center;
    padding: 25px 15px;
	display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}
.tickets_container_card .ticketsList{
    width:40%;
    margin: 15px 10px;
    border: 1px solid #cecece;
    padding: 25px;
    border-radius:15px;
    max-height: 250px;
    min-height:150px;
	position: relative;
	background: #FEFFE6
}
.tickets_container_card .ticketsList .ticket_header{
    text-align:left;
    margin-bottom:15px;
    padding-bottom:12px;
    border-bottom:1px solid #cecece;
}
.tickets_container_card .ticketsList .ticket_header .ticket_name{
    font-size:18px;
    font-weight: 600;
}
.tickets_container_card .ticketsList .ticket_header .ticket_subject{
    font-size: 14px;
    margin-top:10px;
    font-weight:300;
}
.tickets_container_card .ticketsList .ticket_body{
    padding-top:10px;
	display: flex;
	flex-wrap: wrap;
}
.tickets_container_card .ticketsList .ticket_body .ticket_description{
    text-align:left;
    font-size:15px;
}
.ticketsList .ticket_delete,
.ticketsList .ticket_update{
    position:absolute;
    top:20px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.ticketsList .ticket_delete{
    right:5%
}
.ticketsList .ticket_delete:hover{
	color:rgb(190, 3, 3)
}
.ticketsList .ticket_update{
    right:12%
}
.ticketsList .ticket_update:hover{
	color:rgb(0, 0, 214)
}
.ticket_form {
    position:fixed;
    top:0;
	right:-620px;
    height:100vh;
    background:#fff;
    width:620px;
	z-index: 100;
	transition: all .3s ease-in-out;
	box-shadow: -8px -1px 48px -3px rgba(0,0,0,0.22);
	-webkit-box-shadow: -8px -1px 48px -3px rgba(0,0,0,0.22);
	-moz-box-shadow: -8px -1px 48px -3px rgba(0,0,0,0.22);
}
.ticket_form.ticket_form_expanded {
    right:0
}
.ticket_form.ticket_form_expanded:before {
	content: '';
    background: #00000038;
    width: calc(100% - 620px);
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.tickets_list{
    position:relative;
}
.tickets_list .button_add_tickets{
    position: absolute;
    top: 22px;
    right: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #00c800;
    border-color: #00c800;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
	cursor: pointer;
}
.tickets_list .button_add_tickets:hover{
    opacity:.8
}
.tickets_list .button_add_tickets .material-icons{
	font-size: 20px;
    margin-right: 5px;
}